@jsluna:registry=https://nexus.public.prd.golf-prod.js-devops.co.uk/repository/luna/
//nexus.public.prd.golf-prod.js-devops.co.uk/repository/luna/:_authToken=NpmToken.90e7c10d-25ab-3e8a-b54c-893d22b916f2
}
